@media screen and (min-width: 769px) 
{
    .parent
    {
        display: flex;
        flex-direction: column;

        margin-top: 1%;
        margin-left: 26%;
        margin-right: 26%;

        gap: 3em;
    }

    .parent hgroup
    {
        display: flex;
        flex-direction: column;

        font-family: "Staatliches";
    }

    .parent hgroup h1
    {
        font-size: 5em;
        color: black;
    }

    .parent hgroup h2
    {
        font-size: 2em;
        color: grey;
    }

    .parent hgroup figure
    {
        display: flex;
        flex-direction: row;
        font-family: "Playfair Display";
        gap: 1em;
    }

    .parent figure img
    {
        height: 2.5em;
    }

    .parent figure figcaption
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .parent article
    {
        font-family: "Roboto Slab";
        font-size: 1em;
        color: black;
    }
}

@media screen and (max-width: 768px)
{
    .parent
    {
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .parent h1, .parent h2
    {
        font-family: "Staatliches";
    }

    .parent h1
    {
        font-size: 4vh;
    }

    .parent h2
    {
        font-size: 3vh;
        color: grey;
    }

    figure
    {
        display: flex;
        flex-direction: row;
        font-family: "Playfair Display";
        gap: 1vh;
    }

    figure img
    {
        height: 4vh;
    }

    figure figcaption
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-size: 1.8vh;
    }

    article
    {
        margin-top: 4vh;
        font-family: "Roboto Slab";
        font-size: 2vh;
    }
}