body
{
    background-color: linen;
}

@media screen and (min-width: 769px) 
{
    .parent
    {
        display: flex;
        flex-direction: column;
        margin-top: 2%;
        margin-left: 6%;
        margin-right: 6%;
        gap: 50px;
    }

    .pageTitle hgroup
    {
        border-bottom: 1px solid;
    }

    .pageTitle h1
    {
        font-family: "Lobster";
        font-size: 5em;
    }

    .body
    {
        display: flex;
        flex-direction: row;
    }

    .contactMe
    {
        display: flex;
        flex-direction: column;
        width: 25%;
    }

    .contactMe hgroup
    {
        font-family: "Staatliches";
        font-size: 1.3em;
        margin-bottom: 1%;
        width: fit-content;
    }

    .contactMe article
    {
        width: 55%;
        font-family: "Roboto Slab";
        color: grey;
        margin-bottom: 5%;
    }

    .contactMe aside
    {
        font-family: "Roboto Slab";
        color: rgb(64, 62, 62);
        margin: 1%;
        margin-left: 0%;
        width: fit-content;
    }

    .contactMe a:active
    {
        color: black;
    }

    form
    {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: fit-content;
    }

    form aside
    {
        display: flex;
        flex-direction: row;
        gap: 30px;
    }

    form input, form textarea
    {
        border: 1px solid;
        font-family: "Roboto Slab";
        font-size: 1em;
        padding-left: 5px;
    }

    form input
    {
        height: 50px;
        width: 300px;
    }

    form textarea
    {
        width: 630px;
        height: 100px;
        padding-top: 5px;
    }

    form label
    {
        font-family: "Staatliches";
        font-size: 1.3em;
    }

    form div
    {
        display: flex;
        flex-direction: column;
    }

    .buttons
    {
        justify-content: center;
        gap: 60px;
    }

    .buttons input
    {
        width: 160px;
        height: 50px;
        cursor: pointer;
        font-family: "Roboto Slab";
        font-size: 1.2em;
        border-radius: 8px;
        padding-left: 0%;
    }

    .buttons input:hover
    {
        background-color: rgb(243, 222, 202);
    }

    .buttons input:active
    {
        background-color: linen;
    }
}

@media screen and (max-width: 768px)
{
    .parent
    {
        display: flex;
        flex-direction: column;
        margin-left: 2vh;
        margin-right: 2vh;
    }

    .pageTitle
    {
        border-bottom: 1px solid;
    }

    .pageTitle hgroup
    {
        font-family: "Lobster";
        font-size: 5vh;
    }

    .body
    {
        display: flex;
        flex-direction: column;
        margin-top: 2vh;
        gap: 4vh;
    }

    .contactMe hgroup
    {
        font-family: "Staatliches";
        font-size: 2.5vh;
    }

    .contactMe article
    {
        font-family: "Roboto Slab";
        font-size: 1.8vh;
    }

    .contactMe aside
    {
        display: none;
    }

    .contactForm form 
    {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    .contactForm label
    {
        font-family: "Staatliches";
    }

    .formSect1
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2vh;
    }

    .formSect2
    {
        display: flex;
        flex-direction: column;
        gap: 1vh;
    }

    input, textarea
    {
        width: 100%;
        height: 5vh;
        border: 1px solid;
        font-family: "Roboto Slab";
        font-size: 1.7vh;
        padding: 1vh;
    }

    textarea
    {
        height: 10vh;
    }

    .fname, .lname, .email, .subject, .message
    {
        display: flex;
        flex-direction: column;
    }

    .buttons
    {
        display: flex;
        flex-direction: row;
        gap: 2vh;
    }
}